#Noweb for Julia

scopeName: 'source.weave.noweb'
patterns: [
    {
      'begin': '(^<<)(.*?)(>>=)\\s*$'
      'beginCaptures':
        '1':
          'name': 'markup.heading.weave.noweb'
        '2':
          'contentName': 'source.julia'
          'patterns': [
            {
              'include': 'source.julia'
            }
          ]
        '3':
          'name' : 'markup.heading.weave.noweb'
      'end': '^(@)\\s*$'
      'endCaptures':
        '1':
            'name': 'markup.heading.weave.noweb'
      'contentName': 'source.julia'
      'patterns': [
        {
          'include': 'source.julia'
        }
      ]
    }
  ]
