'name': 'Weave.jl: LaTex'
scopeName: 'source.weave.latex'
'fileTypes': [
  'texw'
  'jtexw'
  'jnw'
]
patterns: [
    {
      'include' : 'source.weave.noweb'
    }
    {
      'include': 'text.tex.latex'
    }
]
