'name': 'Weave.jl markdown'
scopeName: 'source.weave.md'
'fileTypes': [
  'jmd'
  'jmdw'
  'mdw'
]
patterns: [
    {
      'include' : 'source.weave.noweb'
    }
    {
    'begin': '^([`~]{3,})(\\{|\\{\\.|)(julia)(;|)\\s*(.*?)(\\}|)\\s*$'
    'beginCaptures':
      '1':
        'name': 'markup.heading.weave.md'
      '3':
        'name': 'markup.bold.weave.md'
      '5':
        'contentName' : 'source.embedded.julia'
        'patterns': [
          {
            'include': 'source.julia'
          }
        ]
    'end': '^[`~]{3,}\\s*$'
    'endCaptures':
      '0':
        'name': 'markup.heading.weave.md'
    'contentName': 'source.embedded.julia'
    'patterns': [
      {
        'include': 'source.julia'
      }
    ]
    }
    {
      'include': 'source.gfm'
    }
]
